
<%= partial "slideshow" %>


<div id="container">
    <div id="photo_container">
        <div id="info">
            <p>Was bringt den Erfolg eines IT-Projekts ?</p>

            <p>Fast immer sind es mehr die sozialen Faktoren als die Hardfacts wie technische Schwierigkeiten
                oder Budgetgrenzen.</p>

            <h3>Wenn Sie ein eingespieltes Team</h3>
            <ul>
                <li>zum Aufbau interne agiler Teamstruktren durch Integration Ihrer Mitarbeiter</li>
                <li>oder aufgrund spezieller Anforderungen wie hoher Zeitdruck, spezielle technische
                    Kenntnisse
                </li>
                <li>oder einfach für Zeiten der Überlast</li>
            </ul>
            <p>benötigen so unterstürzen wir Sie gerne mit einem maßgeschneiderten Angebot.</p>

            <div id="button">
                <a href="mailto:js@heimschild.com" class="button large-6">Verfügbarkeitsanfrage</a>
            </div>
        </div>
    </div>
</div>

