<%= partial "slideshow" %>

<div id="team-content">
   <div class="row">
       <div class="span4">
           <h4>Karin Stropek</h4>
           <a href="http://www.xing.com/profile/Karin_Stropek" target="_blank" rel="me"><img src="http://www.xing.com/img/buttons/10_en_btn.gif" width="85" height="23" alt="Karin Stropek"></a>
           <p>
               Projektmangement und Business Analyse
           </p>
           <p>
               Mit ihrer knapp jahrzentelangen Erfahrung im Projektmanagement bildet Karin das Fundament für eine erfolgreiche Projektabwicklung.
           </p>
           <p>
               Schnelle Auffassungsgabe und Verständnis von komplexenSachverhalten sind zwei ihrer Stärken.
           </p>
           <p>
               Die Business Analyse das zweite Aufgabengebiet von Karin.
           </p>
       </div>
       <div class="span4">
           <h4>Gürsel Ayaz</h4>
           <a href="http://www.xing.com/profile/Guersel_Ayaz"><img src="http://www.xing.com/img/buttons/10_en_btn.gif" width="85" height="23" alt="Gürsel Ayaz"></a>
           <p>
               Softwareentwicklung/-architektur
           </p>
           <p>
               Leidenschaftlicher Entwickler, der sich ständig mit neuen Technologien auseinandersetzt.
           </p>
           <p>
               Hat sich entschlossen seine Kompetenzen und Erfahrungen aus den bisherigen Tätigkeiten in diesem dynamischen Team zu vermarkten.
           </p>
           <p>
               Gürsel ist davon überzeugt, dass die testgetriebene Softwareentwicklung ein wesentlicher Entscheidungsfaktor für den technischen Erfolg einer Software ist.
           </p>
       </div>
       <div class="span4">
           <h4>Milan Heimschild</h4>
           <a href="http://www.xing.com/profile/Milan_Heimschild%E8%B4%BA%E7%86%99%E6%9D%A5"><img src="http://www.xing.com/img/buttons/10_en_btn.gif" width="85" height="23" alt="Milan Heimschild"></a>
           <p>
               Softwareentwicklung/-architektur
           </p>
           <p>
               Das fleischgewordene Lexikon der Softwareentwicklung, ist aufgrund seiner zahlreichen Projekte im In- und Ausland unverzichtbar für das Team.
           </p>
           <p>
               Wenn es die Rahmenbedingungen ermöglichen, ist Milan auch daran interessiert festgefahrene Strukturen mit neuen Ideen aufzubrechen.
           </p>
           <p>
               Als Inspirationsquelle für innovative Ideen werden unter anderem die zahlreichen Softwareveranstaltungen genutzt, die jährlich besucht werden.
           </p>
       </div>
   </div>
</div>